html {
	margin:0;
	height: 100%;
	font-size: 62.5%;

	@include device-width(10) {
		font-size: 61%;
	}

	@include device-width(9) {
		font-size: 60%;
	}

	@include device-width(8) {
		font-size: 59%;
	}

	@include device-width(7) {
		font-size: 58%;
	}

	@include device-width(6) {
		font-size: 57%;
	}

	@include device-width(5) {
		font-size: 56%;
	}

	@include device-width(4) {
		font-size: 55%;
	}
}

body {
	@include lucida-regular;
	height: 100%;
	color: #030303;
	@include font-size(14);
	//-webkit-font-smoothing: antialiased;	
}


// HEADER CALL US

.call-us{
	position: relative;
	float:right;

	.number{
		font-size: 0.875em;
		display: inline-block;
		margin: 1em 0 0 1em;

		&:first-child{
			margin:0;
		}

		span{
			font-size: 1.214em;
		}
	}

	.call-icon{
		background: url(../images/misc/call-icon.png) no-repeat;
		display: inline-block;
		width: 33px;
		height: 22px;
		margin-left: 1em;
		cursor: pointer;
	}

	@media screen and (max-width:550px){
		float: left;
		width: 100%;

		.number{
			display: block;
			margin: 0;
		}

		.call-icon{
			position: absolute;
			top:5px;
			right:0;
		}

	}
}// call us

#header {
	margin-bottom:22px;

	.container {
		position: relative;
		@media only screen and (max-width: 1170px){
		 	margin: 0;
		 	padding: 0 2em;
		}	

		@include device-width(6) {
			padding: 0;
		}		
	}

	.logos{
		@media screen and (max-width:600px){
			display: inline-block;
			margin-top: 1em;
			padding-left: 2em;
		}
	}

	.logo{
		display: inline-block;
		float: left;

		&:first-child{
			margin-right: 2em;

			@media screen and (max-width:480px){
				margin-right: 0.8em;
			}			
		}

		&.henley-bus{
			max-width: 100%;
			
		}

		&.reading{
			width: 100%;
			max-width: 173px;

			@media screen and (max-width:480px){
				width: 25%;
			}
		}

		img{
			width: 100%;
			height:auto;
		}
	}// logo

	.mob-menu{
		display: none;
		position: absolute;
		top:2em;
		right: 2em;

		a {
			display: inline-block;
			padding:5px 10px;
			text-transform: uppercase;
			border: 1px solid #333;
			@include border-radius(3px);

			&:hover{
				color: #fff;
				background-color: #244787;
			}
		}

		@media screen and (max-width:600px){
			display: inline-block;
		}

		@media screen and (max-width:450px){
			top:1em;
			margin-bottom: 1em;
			text-align: center;
		}
	}// .mob-menu
	
	.display{
		display:inline-block;
	}

	.menu{
		float:right;
		margin: 15px 0 0 0;
		padding:0;
		line-height: 56px;

		li{
			float:left;
			margin: 0 0 0 15px;

			@include device-width(7) {
				margin: 0;
			}
		}

		a {
			display: inline-block;
			padding:0.8em 1.4em;
			font-size: 1em;
			line-height: 1;
			text-transform: uppercase;

			@include device-width(9) {
				padding:0.8em 1.3em;
			}			

			&:hover{
				color: #fff;
				background-color: #244787;
			}
		}

		@media screen and (max-width:600px){
			display: none;
			float: none;
			width: 100%;
			text-align: center;

			li{
				display: inline-block;
				width: 100%;
				background-color: #dde3ed;
				border-bottom:1px solid #CCC;
			}

			a{
				font-size: 1em;
				padding: 1em 1.5em;
				color: #3C5C75;

				&:hover{
					color:#123D8D;
					background-color:transparent;
				}
			}				

		}
	}// .menu

}

#header-image {
	margin-bottom: 20px;

	&.container {
		margin: 0 auto;
		border-bottom: 39px solid #244787;

		@media screen and (max-width:700px){
			border-bottom:5px;
		}
	}

	#homepage-scroller {

		$ratio: 320 / 785;
		z-index: 100;

		> .outer {
			position: relative;
			height: 0;
			padding-top: $ratio * 100%;							

			> .inner {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}

		.scroller-mask {
			height: 100%;	
		}	
	}

	.scroll-item {
		height: 100%;

		span.title {

			@include font-size(22);
			padding: 15px;

			@include device-width(7) {
				@include font-size(18);
			}	

			@include device-width(6) {
				@include font-size(15);
				padding: 10px;
			}	

			@include device-width(5) {
			}										
		}
	}	
}

	.navigation-container {
		margin: 0 auto 26px;
		background: #DDE3ED;


		@include device-width(6) {
			text-align: center;
		}

	
		.mobile-navigation-btn {
			display: none;
	
			@include device-width(6) {
				display: block;
				border: none;
				background: none;
				width: 100%;				
				padding: 10px 0;
				font-size: 20px;

				i {
					@include font-size(20);
					margin-right: 5px;
				}

				&:hover {
				}
			}
		}
	}
	
.main-navigation { 

	@include device-width(6) {
		display: none;
	}		


	> ul {
		margin: 0;
		padding: 0;
	    font-size: 0.1px;

		> li {
		 	display: inline-block;
			position: relative;
			@include transition(all 0.3s ease);

			&:after {
				display: block;
				content: '';
				position: absolute;
				width: 1px;
				height: 41px;
				background: #FFF;
				right: -1px;
				top: 0px;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			@include device-width(6) {
				display: block;
				border-bottom: 1px solid #ccc;

				&:first-child {
					border-top: 1px solid #ccc;
				}

				&:after {
					display: none;
				}
			}

		 	> a {
		 		display: inline-block;
		 		@include font-size(15);
		 		padding: 12px 30px;
			 	color: #3C5C75;
			 	font-family: Arial;
			 	font-weight: bold;
			 	text-transform: uppercase;

			 	@include device-width(10) {
			 		@include font-size(13);
			 		padding: 12px 25px;
			 	}

			 	@include device-width(7) {
			 		padding: 12px 16px;
			 	}			 	
				.no-touch & {
				 	&:hover {
				 		color: #123d8d;
				 	}						
				}		 	
		 	}

		 	&.current_page_parent > a,
		 	&.current-menu-item > a,
		 	&.current-category-ancestor > a,
		 	&.current-page-ancestor > a,
		 	&.current-post-ancestor > a,
		 	&.current-menu-parent > a,
		 	&.current-post-parent > a,
		 	&.current > a {
		 		color: #123d8d;
		 	}

		 	.sub-menu {
		 		display: none;
		 	}
			
			/* Submenus */

		 	.sub-menu {
		 		display: none;

		 		@include device-width(8) {
		 			display: block;
		 			width: 100%;
		 			padding: 0;
		 			margin: 0;

	 				li {
	 					display: block;
					 	border-top: 1px solid #ccc;

					 	> a {
					 		@include lucida-regular;
					 		line-height: 19px;
						 	color: #3C5C75;
						 	border-bottom: 1px solid transparent;
						 	text-transform: uppercase;
						 	line-height: 1;	
					 		@include font-size(13);
						 	font-family: Arial;
						 	font-weight: bold;					 		
					 		margin: 0 11px;				 		
					 		padding: 15px 0;
					 		display: block;
					 		border-bottom: 3px solid #F7F7F7;		
					 	}	 					
	 				}
		 		}
		 	}

 			.no-touch & {
			 	&:hover {

			 		.sub-menu {
			 			display: block;
			 			background: #DDE3ED;
			 			padding: 15px;
			 			position: absolute;
			 			z-index: 9999;
			 			border-top: 2px solid #FFF;
			 			@include box-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));

			 			li {
			 				display: block;
			 				border-bottom: 1px solid #FFF;
			 				margin: 5px 0;

			 				a {
			 					display: block;
			 					color: #3C5C75;
			 					@include font-size(13);
							 	font-family: Arial;
							 	font-weight: bold;			 					
			 					text-align: left;
								padding: 8px 0px;
								text-transform: uppercase;
								white-space: nowrap;

								&:hover {
									color: #174686;
								}		 					
			 				}
			 			}
			 		}
			 	}
		 	}


		}
	} 
}

#page {
	// margin-top: 20px;
	#content {
		width: 75%;
		float: left;
		@include box-sizing(border-box);

		@media screen and (max-width:999px){
				width: 70%;
		}

		@include device-width(7) {
			width: 100%;
		}
		
		h1:first-child {	
			margin-top:0;
	  		@include font-size(30);
		}

		.content{
			padding:2.8125em;
			
			@media screen and (max-width:480px){
				padding-right:0;
				padding-left:0;
			}
		}

		.post {
			position: relative;
		}

		.row {
			ul{
				@media screen and (max-width:480px){
					padding-left:0;
				}
			}
			ul, ol {
				li {
					line-height: 1.5;
					padding-left: 15px;
					background: url('../images/misc/list_bullet.jpg') left 2px no-repeat;
					display: block;
					overflow: hidden;
					color: #333;
					margin: 2px 0;

					a {
						color: #174686;

						&:hover {
							text-decoration: underline;
						}
					}					
				}
			}

			&.accordion {
				padding: 2.8125em;
			}	

			ol {

			}		

			p {
				overflow: hidden;

				a {
					color: #174686;

					&:hover {
						text-decoration: underline;
					}
				}
			}			

			table {
				width: 100%;
				@include border-radius(3px); 

				td {
					padding: 15px;
				}


				thead {
					background: #eaecec;
					border: 1px solid #cfcfcf;
				}

				tbody {

					tr:nth-child(even) {background: #fafafa}
					tr:nth-child(odd) {background: #f7f7f7}

					td {
						border: 1px solid #cfcfcf;
						@include font-size(12);
						@include lucida-regular;
						color: #555555;
					}					
				}
			}		

			.images-bar {
				float:left;
				width: 32%;
				margin-right: 3%;

				img {
					margin-bottom: 6px;
				}

				&.not-chosen {
					@include device-width(4) {
						display: none;
					}
				}

				@include device-width(4) {
					width: 100%;
				}
			}

			.content-wrapper {
				float: right;
				width: 65%;

				@include device-width(4) {
					width: 100%;

					img {
						margin: 20px 0;
					}

					.alignright, .alignleft {
						float: none;
						max-width: 100%;
						height: auto;
						display: block;
					}
				}

			}

			.subtitle {
				@include font-size(22);
				border-bottom: 1px solid #174686;
				margin: 30px 0 30px;
			}

			.accordion-item {
				position: relative;
				padding-left: 25px;

				&:after {
					content: "";
					display: block;
					width: 11px;
					height: 8px;
					background: url('../images/misc/faq-arrow.png');
					position: absolute;
					left: 0px;
					top: 5px;		
				}	

				&.open:after {
					content: "";
					display: block;
					width: 11px;
					height: 8px;
					background: url('../images/misc/faq-arrow_up.png');
					position: absolute;
					left: 0px;
					top: 5px;		
				}					

				.trigger {
					@include font-size(18);
					color: #123d8d;

					&:hover {
						text-decoration: underline;
					}					
				}

				.content {
					display: none;

					@include device-width(5) {
						display: block;
					}

					p {
						margin: 0;
					}
				}

				&.open {
					.content {
						display: block;
					}
				}
			}
		}

		.columns {

			.span {
				padding: 13px;

				.inner {
					padding: 15px;
					border: 1px solid #333;	
					position: relative;
					padding-bottom: 50px;

					@media only screen and (max-width: 650px){
						padding-bottom: 15px;
					}

					img {
						float:left;
						margin-right: 15px;
						margin-bottom: 15px;
						max-width: 45%;
						height: auto;

						@include device-width(7) {
							display: none;
						}

						@include device-width(5) {
							display: block;
							max-width: 35%;
						}


					}	

					.button {
						position: absolute;
						right: 20px;
						bottom: 20px;

						@media only screen and (max-width: 650px){
						 	position: static;
						 	width: 100%;
						 	display: block;
						 	@include box-sizing(border-box);
						}						
					}			
				}
			}
		}			
	}

	#sidebar {
		width: 25%;
		float:right;

		@include box-sizing(border-box);

		@media screen and (max-width:999px){
				width: 30%;
		}

		@include device-width(7) {
			width: 100%;
		}		

		> ul {
			padding: 0;
			margin: 0;

			li.widget {
				padding: 20px;
				margin-bottom: 20px;

				@include device-width(7) {
					@include box-sizing(border-box);
					width: 48%;
					margin: 10px 1%;					
					float: left;
				}

				@include device-width(5) {
					width: 100%;
					float: none;
				}	

				&.gform_widget{
					margin-bottom: 0;
					background-image: url(../images/misc/sidebar-top.jpg);
					background-repeat: no-repeat;
					background-position: top center;
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background-image: url(../images/misc/sidebar-top.jpg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1NiUiIHN0b3AtY29sb3I9IiMyNDQ3ODciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
					background-image: url(../images/misc/sidebar-top.jpg), -moz-linear-gradient(top,  rgba(36,71,135,1) 56%, rgba(125,185,232,0) 100%); /* FF3.6+ */
					background-image: url(../images/misc/sidebar-top.jpg), -webkit-gradient(linear, left top, left bottom, color-stop(56%,rgba(36,71,135,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
					background-image: url(../images/misc/sidebar-top.jpg), -webkit-linear-gradient(top,  rgba(36,71,135,1) 56%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
					background-image: url(../images/misc/sidebar-top.jpg), -o-linear-gradient(top,  rgba(36,71,135,1) 56%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
					background-image: url(../images/misc/sidebar-top.jpg), -ms-linear-gradient(top,  rgba(36,71,135,1) 56%,rgba(125,185,232,0) 100%); /* IE10+ */
					background-image: url(../images/misc/sidebar-top.jpg), linear-gradient(to bottom,  rgba(36,71,135,1) 56%,rgba(125,185,232,0) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244787', endColorstr='#007db9e8',GradientType=0 ); /* IE6-8 */
				}

				.gform_wrapper {
					color: #fff;

					.gform_heading {

						.gform_title {
							@include font-size(20);
							@include lucida-regular;
							color: #fff;
							text-transform: uppercase;
							line-height: 1.2;
						}

						.gform_description {
							@include lucida-regular;
							@include font-size(13);
							line-height: 1.5;
							margin-top: 15px;
							display: block;
						}
					}

					.selecter-selected{
						color: #333;
					}

					.gform_body {

						input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password] {
							border: 1px solid #c0c0c0;
							padding: 15px;			
							@include border-radius(2px);				
						}

						input[type=select] {
							-webkit-appearance: none;
							
						}
					}
				}

				&.gform_widget {

					input[type=submit] {
						width: 100%;
					}
				}
			}
		}

		#call-box{
			@include box-sizing(border-box);
			padding-left:5%;
			padding-bottom: 2em;
			border-bottom:1px solid #D1D1D1;
			//background-image: url(../images/misc/phone-icon.png);
			background-repeat: no-repeat;
			background-position: 0 80%;

			@media screen and (max-width:700px){
				padding-left:0;
			}

			@media screen and (max-width:580px){
				background-size:20%;
			}

			h1{
				font-size: 1.5em;
			}

			p{
				color: #12108d;
			}

			.phone-number{
				margin-bottom: 0.5em;

				span{
					color: #12108d;
				}
			}
		}

		.widget{
			.offscreen{
				margin-top: 0;
				margin-bottom: 0.3em;
				padding-top: 2em;
				padding-left:5%;
				color: #12108d;
				font-size: 1.43em;
				border-top: 1px solid #D1D1D1;
				
				@media screen and (max-width:700px){
					padding-left:0;
				}
			}
		}
	}
}

#alumni {
	.row {
		margin-bottom: 15px;
	}

	.columns {
		margin-bottom: 100px;

		.span {
			width: 50%;
		}
	}
}

#faq {

	.row.first {
		margin-bottom: 35px;
	}

 	#content .row.accordion {
		border-top: none ;
		margin-bottom: 35px;

		h1 {
			font-size: 14px;
			font-weight: normal;
		}	

		.accordion-item {
			position: relative;
			padding: 0;

			&:after {
				left: inherit;
				right: 25px;
				top: 25px;		
			}	

			&.open:after {
				left: inherit;
				right: 25px;
				top: 25px;		
			}
		}			
		
		.accordion-item.open h2 {
			background: #D7D7D7;
		}

		.accordion-item h2 {
			background: #ededed;
			padding: 20px;
			margin: 0.83em 0 0 0;
			box-shadow: 0 2px 2px #bfbfbf;

			.no-touch {
				&:hover {
					cursor: pointer;
					background: #D7D7D7;

					a {
						text-decoration: none;
					}
				}				
			}

			a {
				color: #616161 !important;
				font-size: 13px !important;
			}
		}
		
		.accordion-item .content {
			background: #ededed;
			margin-top: 0;
			padding: 20px;
			font-style: italic;
		}
	}
}

#events {

	.categories {
		margin-bottom: 50px;

		.category {

			@include device-width(5) {
				display: none;
			}

			ul {
				padding: 0;
			}

			.button {
				float: left;
				margin: 5px;

				@include device-width(8) {
					font-size: 12px !important;
					padding: 9px 13px;
				}
			}

			.current {
				.button {
					@extend .button:hover;
				}
			}
		}

		.mobile-category {
			display: none;

			@include device-width(5) {
				display: block;
			}		
		}		
	}

	.row {

		.images-bar {
			@include device-width(4) {
				height: 150px;
				overflow: hidden;

				img {
					margin-top: -15%;
				}
			}
		}

		.button {
			float: right;
			margin-top: 10px;
		}
	}
}


#call-box {
	@extend .clearfix;

	h1.phone-number {
		@include font-size(25);
		margin: 0;
		letter-spacing: -2px;

		@media only screen and (max-width: 1170px){
			@include font-size(22);
		}

		@include device-width(11) {
			@include font-size(20);
		}						

		@media only screen and (max-width: 975px){	
			@include font-size(15);
		}

		@include device-width(7) {
			@include font-size(25);
		}

		@include device-width(6) {
			@include font-size(20);
		}

		@include device-width(5) {
			@include font-size(25);
		}		

	}

	#cloudIqPopupButton {
		margin: 30px 0 0 0;
		display: inline-block;
		position: static;
	}
	
	p {
		margin: 0 !important;
	}
	p b {
		font-size: 12px;
		font-weight: bold;
		color: #123d8d;
	}	
}

#cloudIqPopups {
	@include box-shadow(0px 0px 30px 0px #000);
}

#callmeBackgroundContainer	{
	width: 100% !important;
}



#mba-sidebar {
	@extend .clearfix;

	img {
		width: 100%;
	}
	a.button {
		display: inline-block;
		margin: 15px 0 0 0;
		@extend .right;
	}
}

#call-now {
	min-height: 80px;
	line-height: 80px;
	width: 100%;
	background: #ededed;
	padding: 0 20px;
	@include box-sizing(border-box);

	@include device-width(5) {
		line-height: 40px;
		text-align: center;
		padding: 20px;
	}

	h1 {
		font-size: 18px !important;
		margin: 0;
		@include inline-block;
	}
	a.button {
		margin: 0 0 0 15px;
		padding: 10px;
		line-height: 1;
		@include inline-block;

		@include device-width(5) {
			margin: 0;
		}
	}

	p {
		margin: 0;
		font-size: 11px;
		@include inline-block;
	}
	
	p.number {
		font-size: 18px;
		color: #000;
		@include inline-block;
	}
}
#contact {

	.row {
		margin-bottom: 15px;

	}

	#contact-form {
		max-width: 580px;

		ul {
			border: 1px solid #d6d6d6;
			@extend .clearfix;

			li {
				background: none !important;
				overflow: visible !important;
			}
		}


		label {
			background: #fbfbfb;
			color: #666;
			text-align: right;
			padding: 4% 4% 4% 0;
			float: left;
			width: 30%;
			border-right: 1px solid #dadada;
			margin: 0;
		}

		.ginput_container {
			float: right;
			width: 57%;
			padding: 3%;
		}

		.comment label {
			height: 200px;
		}

		.gfield {
			border: 1px solid #d6d6d6;
			padding-left: 0 !important;
			margin: -1px 0 0 0 !important;
		}
		input[type="text"] {
			padding: 10px;
			width: 100%;
		}
		select {
			margin: 20px 15px !important;
		}
		input[type="submit"] {
			max-width: 157px;
			float: right;
		}
		textarea {
			padding: 2%;
			width: 96%;
			border: 1px solid #aaaaaa;
		}
	}
}


#slideupbox {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	padding: 20px;
	width: 250px;
	z-index: 9999;
	box-shadow: 0 0 5px #174686;

	ul {
		padding: 0;

		li {
			line-height: 1.5;
			padding-left: 15px;
			background: url('../images/misc/list_bullet.jpg') left 2px no-repeat;
			display: block;
			overflow: hidden;
			color: #333;
			margin: 2px 0;			
		}
	}

	.gform_body {

		ul {
			padding: 0;
			margin: 0;

			li {
				background: none;
				padding: 0;
			}
		}
	}

	.close-link {
		position: absolute;
		top: 8px;
		right: 8px;
	}
	&.hide {
		display: none !important;
	}
}

#popup-overlay {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin-left: -150px;
	margin-top: -100px;
}


		
#footer {
	background-color:#333;

	.container {

		@media only screen and (max-width: 1170px){
		 	margin: 0;
		}		

		.inner {
			padding-top:3em;
			color: #4D6A99;

			.span.two {
				width: 25%;

				@include device-width(5) {
					width: 50%;
				}
			}
			
			.widget {
				list-style-type: none;
			}
			
			.logos {

				.item {
					ul{
						margin: 0;
						padding: 0;
					}
					a {
						@include inline-block;
						margin-bottom: 15px;

						img {
							max-width: 100%;
							height: auto;
						}

					}					
				}

			}
		}	

		#menu-header-menu-1, #menu-seconday-footer  {
			padding: 0;
			margin: 0;
		}

		#menu-header-menu-1 {

			li {
				margin-bottom: 15px;
				
				a {
					@include font-size(13);
					text-transform: uppercase;
					color: #fff;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						bottom: 4px;
						right: -10px;
						background: url('../images/misc/footer_bullet2.gif') right bottom no-repeat;
						width: 4px;
						height: 7px;
						display: block;
					}
				}			
			}
		}
	}

	.bottom-nav {
		line-height: 40px;
		background: #000;
		color: #FFF;

		.container {

			@media screen and (max-width:1180px){
				padding: 0 15px;
			}			
		}

		.copyright {
			float: right;

			@include device-width(5) {
				display: block;
			}
		}

		#menu-seconday-footer {
			float: right;

			li {
				float: left;
				margin-right: 15px;
				padding: 0 5px;

				a {
					color: #FFF;

				}

				&:hover {
					background: #FFF;

					a {
						color: #000;
					}
				}						

			}
		}								
	}

	.carousel {
		display: block;
		position: relative;
		width: 100%;

		.carousel-container {
			display: block;
			overflow: hidden;
			width: 100%;
			margin: 0 auto;
			@include box-sizing(border-box);
			padding: 0 25px;

			.carousel-wrapper, .carousel-wrapper2 {
				clear: both;
				height: auto;
				overflow: hidden;
				margin: 0;

				.carousel-element {
						width: 100%;
						float: left;
						margin: 0;
						background: #333333;
						@include box-sizing(border-box);

					.ce-inner {
						padding: 20px;
						display: block;
						line-height: 1.5;

						a {
							color: #FFF;
							@include font-size(14);
							display: block;
						}						
					}
				}
			}
		}

		.carousel-nav, .carousel-index {
			display: block;
			margin: 0 auto;
		}

		.nav {
			position: absolute;
			width: 25px;
			background: #333333;
			color: #FFF;
			height: 100px;
			display: block;
			height: 100%;
			top: 0px;
			text-align: center;			

			&:hover {
				text-decoration: none;
			}
		}

		.prev {
			left: 0px;

			&:before {
				position: absolute;
				top: 45%;
				left: 8px;
			}
		}	

		.next {
			right: 0px;

			&:before {
				position: absolute;
				top: 45%;
				left: 8px;
			}			
		}				
	}

	label, .label {
		color: #FFF;
		@include font-size(13);
		@include lucida-regular;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	.newsletter {

		.gform_body {
			width: 80%;
			float: left;

			@include device-width(9) {
				width: 70%;
			}

			@include device-width(4) {
				width: 60%;
			}			

			ul {
				li.gfield {
					margin: 15px 0;
				}
			}
		}

		.gform_footer {
			width: 20%;
			float:right;
			clear:none;
			margin-top: 35px;

			@include device-width(9) {
				width: 30%;
			}

			@include device-width(4) {
				margin-top: 47px;
				width: 40%;
			}						
		}

		input[type=text] {
			border: 1px solid #002455;
			padding: 9px 12px;
			font-size: 13px;
			color: #393939;
		}

		.gform_button, input[type=submit] {
			height: 30px;
			line-height: 0.8;
			@include border-radius(0 3px 3px 0);			
			width: 100%;
			text-align: center;
			font-size: 15px !important;
			color: #FFF;
		    @include border-radius(3px);
		    border: 1px solid #08182c;
			background-color: #234787;

			.no-touch & {
				&:hover {
					background-image: none;		
				}				
			}
		}			

		#gforms_confirmation_message, .validation_error {
			padding-top: 40px;
			text-align: center;
			text-transform: uppercase;
		}

		.validation_error {
			color: #DB3838;
		}

		.gfield_error {
			background: none;
			border-top: none;
			border-bottom: none;
			margin: 15px 0;
			padding: 0 !important;
			width: 100%;

			.gfield_label {
				margin-bottom: 8px;
			}

			.ginput_container {
				margin-top: 0px;
				max-width: 100%;
			}
		}
	}
}

#error {

	.error {
		width: 50%;
		margin: 70px auto;
		@include device-width(6) {
			width: 100%;
		}

		@include font-size(20);

		h1 {
			@include font-size(40);
		}

		span {
			@include font-size(30);
		}
	}
}

.floating-social-bar {
	position: absolute;
	display: block;
	left: -100px;
	top: 50px;
	width: 80px;
	padding: 5px 0;
	text-align: center;	
	border: 1px solid #CCC;
	@include border-radius(5px);
	background: #FFF;

	&.fixed {
		position: fixed;
		left: 10px;
	}

	.social {
		margin: 10px 0;
	}

	@media screen and (max-width:1385px){
		left: 0px;			
	}

	@media screen and (max-width:1335px){
		display: none;
	}
}